.header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:16px;
}

.header_nav{
    display: flex;
    gap: 16px;
}

.header_nav__link {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 0.7rem 1.5rem;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.header_nav__link:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    color: white;
}

.header_article{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.header_article__text{
    text-align: left;
}